<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default title{% endblock title %}</title>
    <link rel="stylesheet" href="{%static "styles.css" %}" />
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div id ="menu">
                <a href="/">Главная</a>
                <a href="/genre">Жанр музыки</a>
                <a href="/tracks">Треки</a>
            </div>
        </div>
        <div id="container">
            <div id="content">
                {% block content %}
                
                {% endblock content %}
            </div>
        </div>
        <div id="footer">
            footer
        </div>
        
    </div>
</body>
</html>