{% extends "base.html" %}
{% block title %}Жанр музыки{% endblock title %}
{% block content %}

<table>
    <thead>
        <tr>
            <th>№</th>
            <th>Название</th>
            <th>Название на англ.</th>
            <th>Описание</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for g in genre %}
        <tr>
            <td>{{g.id}}</td>
            <td>{{g.name_ru}}</td>
            <td>{{g.name_eng}}</td>
            <td>{{g.description}}</td>
            <td><a href="/edit_genre/{{g.id}}">Редактировать</a></td>
            <td><a href="/delete_genre/{{g.id}}">Удалить</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="/add_genre">Добавить жанр</a>
{% endblock content %}
